<div class="bg-blue-800">
    <div class="container mx-auto lg:w-3/5 text-center px-4 py-6">
        <div style="background-color: #FFDD00; color: #661CC6;" class="p-3 rounded md:p-4 w-full justify-between items-center shadow-2xl">
            <p class="text-3xl mb-3">We’re still sending joy into the NHS!</p>

            <p class="mb-3">By providing NHS Staff with effortless access to delicious, nutritious, hearty, heatable and affordable meals - 24/7 including weekends. When it comes to Workforce Wellbeing - sometimes, it’s the small things that make the biggest difference!</p>

            <p class="mb-3">Want us to bring a smile to your ED & ITU Staff Rooms, Maternity Dep, Thoroughfares, JD Mess or ED Waiting Room? Email us if you would like to hear more:</p>

            <p class="mb-3"><a
                style="color: #661CC6;"
                class="underline"
                href="mailto:joy@mealsforthenhs.com">joy@mealsforthenhs.com</a></p>

            <p class="mb-3">P.S., Hospital Caterers, Vending Companies, PFIs, Food Brands and Others… we’re open to partnering!</p>

        </div>
    </div>
</div>