<div class="bg-blue-800">
    <div class="container mx-auto lg:w-3/5 text-center px-4 py-6">
        <div class="p-3 rounded md:p-4 bg-teal-300 w-full flex flex-wrap md:flex-no-wrap justify-between items-center shadow-2xl">
            <p class="text-lg md:text-xl">Please note, donations are now closed and Meals for the NHS has wrapped up with the final meals delivered on 30th June. We’d like to thank you all for your continued support!<p>
        </div>
    </div>
</div>