<div class="flex justify-center pb-8">
    <a class="dbox-donation-button bg-gray-300 hover:bg-gray-400 transition-all ease-in-out duration-300 py-4 px-5 rounded-lg cursor-pointer text-blue-800 text-lg md:text-2xl flex justify-center items-center font-regular border-b-4 border-gray-500" href="/dashboard">
        <img src="/images/icons/flash.svg" class="fill-current mr-2" alt="">
        <span class="font-medium">Live dashboard</span>
    </a>
</div>