{% include "components/donation_button.njk" %}
<div class="pt-2 flex flex-col md:flex-row mx-auto md:justify-center flex-shrink">
    <p class="font-bold text-gray-500 pb-1">Or get involved in other ways</p>
</div>
<div class="pt-2 flex flex-col md:flex-row mx-auto md:justify-center flex-shrink ">
    <div class="py-2 md:px-2 flex justify-center">
        <a class="bg-blue-600 text-white hover:bg-blue-800 border-b-2 border-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-xl leading-tight" href="/fundraising">{% if sponsor_button_title %}{{ sponsor_button_title }}{% else %}Sponsor an entire hospital{% endif %}</a>
    </div>
    <div class="py-2 md:px-2 flex justify-center">
        <a class="bg-blue-600 text-white hover:bg-blue-800 border-b-2 border-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-xl leading-tight" href="/campaigns">Fundraise for us</a>
    </div>
</div>
