<div class="py-8 flex flex-col md:flex-row mx-auto md:justify-center">
    <div class="md:px-2 flex justify-center">
        <a class="dbox-donation-button bg-blue-800 hover:bg-blue-900 transition-all ease-in-out duration-300 py-4 px-6 rounded-lg cursor-pointer text-white text-lg md:text-2xl flex justify-center items-center font-regular border-b-4 border-blue-900" href="#donationform">
            <span class="h-5 md:h-6 w-5 md:w-6 bg-center bg-contain bg-no-repeat mr-2 opacity-50" style="background-image: url('images/icons/lock.svg')"></span>
            <span class="font-medium">Make a secure donation</span>
        </a>
    </div>
</div>