<div class="py-8 flex flex-col md:flex-row mx-auto md:justify-center">
    <div class="md:px-2">
        <a class="dbox-donation-button bg-blue-800 hover:bg-blue-900 transition-all ease-in-out duration-300 py-4 px-6 rounded cursor-pointer text-white text-xl md:text-2xl" href="#donationform">Make a secure donation</a>
    </div>
</div>