<div id="donationform" class="container px-2 md:w-4/5 lg:w-3/4 mx-auto text-center py-6 md:pb-16 lg:pb-24 mx-auto flex flex-col items-center">
    <div class="pb-8 md:w-4/5 lg:w-2/3 mx-auto">
        <h3 class="pb-2 md:pb-4 text-2xl md:text-4xl">Make a secure donation</h3>
        <p class="md:text-lg text-gray-600">100% of your donations go towards getting meals to hospital workers (including food, delivery costs and payment processing fees). We're also <a href="#company-details">registered as a non-profit</a> to ensure you feel safe donating.</p>
    </div>
    <div class="pb-3">
        {% include 'components/donorbox_down.njk' %}
    </div>
    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrufulEIemp0NeeD?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="630" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>

{% include "components/social-share.njk" %}
