{% include "components/donation_button.njk" %}
<div class="pb-8 flex flex-col md:flex-row mx-auto md:justify-center">
    <div class="py-2 md:px-2 flex justify-center">
        <a class="bg-gray-200 hover:bg-gray-300 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-blue-800 text-xl" href="/restaurants">We're a restaurant</a>
    </div>
    <div class="py-2 md:px-2 flex justify-center">
        <a href="/hospitals" class="bg-gray-200 hover:bg-gray-300 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-blue-800 text-xl">We're a hospital</a>
    </div>
</div>