<div class="p-4 bg-yellow-100 text-lg lg:text-xl w-full text-center text-yellow-800 flex justify-center">
    <div class="w-full lg:w-2/3 mx-auto">
        <p>Please note: Due to the volume of traffic, our fundraising platform Donorbox is experiencing difficulties at present. We're working hard to resolve this. If you can't donate right now, please do try again later!</p>
    </div>
</div>