<div class="p-4 bg-yellow-100 text-xl w-full text-center text-yellow-800">
    <p>Please note: our fundraising platform Donorbox is experiencing difficulties at present. Please try again soon!</p>
</div>