<div class="container px-2 md:w-4/5 lg:w-3/4 mx-auto text-center py-6 md:pb-16 lg:pb-24 mx-auto flex flex-col items-center">
    <p class="text-sm text-gray-500 uppercase">As featured on:</p>
    <div class="w-full flex flex-col md:flex-row justify-center">
        <div class="flex  w-full md:w-1/4 justify-center p-2">
            <a href="https://metro.co.uk/2020/03/26/feed-nhs-fundraiser-set-get-meals-coronavirus-frontline-staff-12460128/" target="_blank" class="w-full bg-center bg-no-repeat bg-contain h-20 md:h-28 xl:h-32 hover:bg-blue-100 transition-all duration-300 ease-in-out rounded" style="background-image: url('/images/endorsements/metro.png')"></a>
        </div>
        <div class="flex  w-full md:w-1/4 justify-center p-2">
            <a href="https://www.huffingtonpost.co.uk/entry/coronavirus-meals-for-the-nhs_uk_5e7f2bccc5b6614922684525" target="_blank" class="w-full bg-center bg-no-repeat bg-contain h-20 md:h-28 xl:h-32 hover:bg-blue-100 transition-all duration-300 ease-in-out rounded" style="background-image: url('/images/endorsements/huffpost.png')"></a>
        </div>
        <div class="flex  w-full md:w-1/4 justify-center p-2">
            <a href="https://www.bbc.co.uk/news/uk-52062905" target="_blank" class="w-full bg-center bg-no-repeat bg-contain h-20 md:h-28 xl:h-32 hover:bg-blue-100 transition-all duration-300 ease-in-out rounded" style="background-image: url('/images/endorsements/bbc.png')"></a>
        </div>
        <div class="flex  w-full md:w-1/4 justify-center p-2">
            <a href="https://twitter.com/thisisheart/status/1243605799890534401" target="_blank" class="w-full bg-center bg-no-repeat bg-contain h-20 md:h-28 xl:h-32 hover:bg-blue-100 transition-all duration-300 ease-in-out rounded" style="background-image: url('images/endorsements/heart.png')"></a>
        </div>
        <div class="flex  w-full md:w-1/4 justify-center p-2">
            <a href="https://www.bbc.co.uk/sounds/play/w3cszjpx" target="_blank" class="w-full bg-center bg-no-repeat bg-contain h-20 md:h-28 xl:h-32 hover:bg-blue-100 transition-all duration-300 ease-in-out rounded" style="background-image: url('/images/endorsements/bbc-sounds.png')"></a>
        </div>
        <div class="flex  w-full md:w-1/4 justify-center p-2">
            <a href="https://www.itv.com/news/london/2020-03-29/meals-for-the-nhs-250-000-raised-in-seven-days-to-feed-health-workers/" target="_blank" class="w-full bg-center bg-no-repeat bg-contain h-20 md:h-28 xl:h-32 hover:bg-blue-100 transition-all duration-300 ease-in-out rounded" style="background-image: url('images/endorsements/itv.png')"></a>
        </div>
    </div>

</div>

