<div class="container content-page md:w-4/5 lg:w-3/5 mx-auto px-4 py-6 md:pb-16">
    <h2 id="food-safety">Feeding the NHS Safely</h2>
    <p>
        We took food safety seriously. Quite simply - we cared about the NHS workers we fed and showing our appreciation to them - in a way that helps them, not harms them. We developed comprehensive food safety guidelines for both our hospitals and our food providers.
    </p>

    <p><a href="https://drive.google.com/open?id=1yoLUMgbjHPhpjxCMrADqlo-7r-Rwh8S1" target="_blank">Our full food safety guidelines</a></p>
</div>