<footer class="bg-blue-800">
  <div class="container mx-auto py-8 md:py-16">
    <section class="px-5 flex flex-wrap">
        <div class="w-full md:w-1/2 lg:w-1/4 pt-5 md:pt-2">
        <h4 class="text-white font-semibold">Home</h4>
        <ul class="mt-3 mb-5">
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="/dashboard">Dashboard</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="/donations">Donor Wall</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="/campaigns">Fundraise for us</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="/team">Team</a>
            </li>
        </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 pt-5 md:pt-2">
        <h4 class="text-white font-semibold">Join our family</h4>
        <ul class="mt-3 mb-5">
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="/hospitals">Hospitals</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="/restaurants">Food provider</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="/fundraising">Fundraising</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="/volunteers">Volunteer</a>
            </li>
        </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 pt-5 md:pt-2">
        <h4 class="text-white font-semibold">Chat to us</h4>
        <ul class="mt-3 mb-5">
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="mailto:press@mealsforthenhs.com">Press Contact</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="https://www.instagram.com/mealsforthenhs/">Instagram</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="https://www.facebook.com/MealsForTheNHS/">Facebook</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="https://www.linkedin.com/company/42284556/">LinkedIn</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="mailto:team@mealsforthenhs.com">Email</a>
            </li>
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="https://twitter.com/mealsforthenhs">Twitter</a>
            </li>
        </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 pt-5 md:pt-2">
        <h4 class="text-white font-semibold">Useful links</h4>
        <ul class="mt-3 mb-5">
            <li class="py-1">
            <a
                class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out"
                href="http://faqs.mealsforthenhs.com/">FAQs</a>
            </li>
        </ul>
        </div>
    </section>
    <div class="mx-auto px-5 pt-5">
        <p class="text-white opacity-75 text-sm leading-snug pb-2">
        We are operating on a non-profit basis and 100% of all funds raised will be used to provide and deliver meals for hospital workers. We have registered as a Private company limited by guarantee without share capital.
        </p>
        <p class="text-white opacity-75 text-sm leading-snug pb-2">
        Meals for Hospitals CLG. Company number 12537043
        </p>
        <p class="text-white opacity-75 text-sm leading-snug">
            <a class="underline text-blue-100 mr-1" href="javascript:Metomic('ConsentManager:show')">Manage Cookies</a>
            <a class="underline text-blue-100 mr-1" href="/legal/meals-pp.pdf">Privacy Policy</a>
        </p>
    </div>
  </div>
</footer>
