<div class="bg-blue-800">
    <div class="container md:w-4/5 lg:w-3/4 xl:w-1/2 mx-auto text-center px-4 py-6 md:py-16">
        <div class="pb-4">
            <p class="text-white pb-4">You can read frequently asked questions on our <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="http://faqs.mealsforthenhs.com">FAQs</a>.</p>
            <p class="text-white pb-4">Contact us at <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="mailto:team@mealsforthenhs.com">team@mealsforthenhs.com</a>. Press enquiries to <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="mailto:press@mealsforthenhs.com">press@mealsforthenhs.com</a>.</p>
            <p class="text-white">Follow our progress on <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="https://twitter.com/mealsforthenhs">Twitter</a>, <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="https://instagram.com/mealsforthenhs">Instagram</a> and <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="https://www.facebook.com/MealsForTheNHS/">Facebook</a> at @mealsforthenhs</p>
        </div>
        <div class="bg-blue-900 rounded-lg text-blue-300 p-4 md:p-8 mt-4" id="company-details">
            <p class="font-bold pb-3">We've heard of scam sites masquerading as donation sites. <br>We aren't a scam.</p>
            <p class="pb-3">We are operating on a non-profit basis and 100% of all funds raised will be used to provide and deliver meals for hospital workers. </p>
            <p class="pb-3">We have registered as a <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="https://en.wikipedia.org/wiki/Private_company_limited_by_guarantee">Private company limited by guarantee without share capital</a>. Unfortunately becoming a charity takes longer, and this COVID-19 pandemic is happening now.</p>
            <p>If you'd like to make a donation but aren't sure, please reach out to us on <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="https://twitter.com/mealsforthenhs">Twitter</a> or drop an email to <a class="underline text-blue-100 hover:text-blue-200 transition-all duration-300 ease-in-out" href="mailto:team@mealsforthenhs.com">team@mealsforthenhs.com</a> and we'll get back to you.</p>
        </div>
        <p class="text-white opacity-75 pt-4">Meals for Hospitals CLG. Company number 12537043</p>
    </div>
</div>
