<header id="header" class="header bg-blue-800 flex justify-between items-center h-16 px-4">

	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
	{# include mobile nav #}
	{% include "components/mobile-nav.njk" %}

</header>
