<a class="block text-white text-base md:text-xl hover:text-blue-300 bg-contain bg-no-repeat bg-left pl-8 md:pl-10" href="/" style="background-image: url('/images/logo/logo.svg')" title="Meals for the NHS">Meals for the NHS</a>
