<div class="container flex justify-center mx-auto px-6 mb-2">
    <a href="/make-donate-nominate" class="p-3 rounded md:p-4 bg-pink-500 w-full md:w-4/5 text-white flex flex-wrap md:flex-no-wrap justify-between items-center shadow-2xl">
        <p class="">🍔 Join our <span class="font-bold">#MakeDonateNominate</span> campaign! <span class="md:hidden"> →</span></p>
        <p class="hidden md:block flex-shrink-0 text-white underline md:no-underline md:bg-pink-200 md:text-pink-900 md:px-2 md:py-1 md:font-bold md:rounded hover:bg-white transition-all duration-300 ease-in-out">Find out more</p>
    </a>
</div>