<nav id="mobile-nav" class="mobile-nav fixed left-0 top-0 h-screen w-full overflow-y-auto pt-12 bg-blue-900 z-50 md:hidden">

    <ul>

        {% for item in navigation.main %}

        <li class="item relative opacity-0">

            <a href="{{ item.url | safe }}" class="link block py-2 px-5 text-white text-3xl hover:text-blue-200 {% if page.url == item.url %}active text-blue-200{% endif %}
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

        </li>

        {% endfor %}

        <li class="item relative opacity-0">
            <div class="px-5 py-4">
                <a class="inline-block rounded py-2 px-5 text-3xl text-blue-800 font-bold bg-white hover:bg-blue-200" href="/#donationform" rel="noopener">Donate</a>
            </div>
        </li>

    </ul>

</nav>

<button id="mobile-nav-toggle" class="mobile-nav-toggle block bottom-0 flex items-center justify-center font-bold border-none text-white focus:outline-none md:hidden z-50" aria-label="Mobile menu toggle" aria-expanded="false" aria-controls="mobile-nav">

   <span class="mobile-nav-icon" aria-hidden="true">
      <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out mb-1"></span>
      <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out mb-1"></span>
      <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out"></span>
   </span>

</button>
