<ul class="flex flex-wrap items-center justify-center pb-4">
    <li class="w-1/2 lg:w-1/4 p-10">
        <img src="/images/partners/silicon-valley-bank.svg" class="fill-current" alt="Silicon Valley Bank logo">
    </li>
    <li class="w-1/2 lg:w-1/4 p-10">
        <img src="/images/partners/mishcon-de-reya.svg" class="fill-current" alt="Silicon Valley Bank logo">
    </li>
    <li class="w-1/2 lg:w-1/4 p-10">
        <img src="/images/partners/portland.svg" class="fill-current" alt="Silicon Valley Bank logo">
    </li>
    <li class="w-1/2 lg:w-1/4 p-10">
        <img src="/images/partners/pwc.svg" class="fill-current" alt="Silicon Valley Bank logo">
    </li>
</ul>