<div class="container md:w-4/5 lg:w-3/4 xl:w-4/5 mx-auto text-center px-4 pt-4 pb-16 lg:pb-24">
    <h2 class="text-2xl md:text-4xl pb-4 md:pb-6">You can’t save the nation on an empty stomach.</h2>
    <div class="flex flex-col md:flex-row">
        <div class="p-2 md:p-3 w-full lg:w-1/2 mx-auto flex">
            <div class="rounded-lg p-4 md:p-8 bg-blue-100 flex-grow flex flex-col">
                <p class="text-lg md:text-2xl text-gray-800 pb-4 flex-grow">"It's saving our life, it's saving our business, our family, and it's helping us keep the money running and the business running for a little while."</p>
                <p class="text-blue-500 uppercase tracking-wider">Helios Gala, Restauranteur</p>
            </div>
        </div>
        <div class="p-2 md:p-3 w-full lg:w-1/2 mx-auto flex">
            <div class="rounded-lg p-4 md:p-8 bg-blue-100 flex-grow flex flex-col">
                <p class="text-lg md:text-2xl text-gray-800 pb-4 flex-grow">“Just knowing that the food has arrived is an enormous morale boost. It is a lot more than just a free meal, I couldn’t get through a 12-hour shift. We are extremely grateful."</p>
                <p class="text-blue-500 uppercase tracking-wider">UK Consultant Surgeon, Covid-19 ICU Unit</p>
            </div>
        </div>
    </div>
    <div class="md:w-4/5 lg:w-2/3 mx-auto pt-4">
        <p class="text-lg md:text-xl text-gray-700">NHS hospital staff are working around the clock to save our lives from COVID-19 – yet they’re faced with canteens that close at 5pm, shut-off vending machines and limited access to food. We’re raising funds to deliver fresh meals to our NHS, and we need your help.</p>
        <div class="pt-4">
            {% include "components/donation_button.njk" %}
        </div>
    </div>
</p>
</div>