{% set total_sponsorship = 0 %}
{% set total_sponsors = 0 %}
{% for sponsor in data.sponsors.records %}
    {% set total_sponsorship = total_sponsorship + sponsor.fields["Amount for Website"] %}
    {% set total_sponsors = total_sponsors + 1 %}
{% endfor -%}

<div class="progress-bar w-full md:w-2/3 mx-auto p-4">
    <progress class="sponsorship" value="{{ total_sponsorship }}" max="{{ site.fundraising_goal }}"></progress>
    <div class="flex justify-between">
        <div class="">
            <p class="raised md:text-xl text-blue-800 font-bold"></p>
            <p class="text-sm text-gray-500">Raised</p>
        </div>
        <div class="">
            <p class="donors md:text-xl text-blue-800 font-bold"></p>
            <p class="text-sm text-gray-500">Donations</p>
        </div>
        <div class="">
            <p class="md:text-xl text-blue-800 font-bold">£{{ site.fundraising_goal | thousands }}</p>
            <p class="text-sm text-gray-500">Goal</p>
        </div>
    </div>
</div>