<div class="pb-8 flex flex-col md:flex-row mx-auto md:justify-center">
    <div class="py-2 md:px-2 flex justify-center">
            <a href="http://twitter.com/share?text=After 18-hour shifts trying to save our lives from COVID-19, NHS Hospital Staff are faced with canteens that shut at 5pm. Help @MealsForTheNHS get food to wards, today. &url=http://MealsForTheNHS.com&hashtags=FeedTheNHS" target="_blank" class="bg-blue-600 hover:bg-blue-700 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-white text-xl flex justify-center items-center font-regular">
                <span class="h-5 md:h-6 w-5 md:w-6 bg-center bg-contain bg-no-repeat mr-2 opacity-50" style="background-image: url('images/icons/twitter.svg')"></span>
                <span class="font-medium">Share on Twitter</span>
            </a>
    </div>
    <div class="py-2 md:px-2 flex justify-center">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmealsforthenhs.com%2F" target="_blank" class="bg-blue-700 hover:bg-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-white text-xl flex justify-center items-center font-regular">
                <span class="h-5 md:h-6 w-5 md:w-6 bg-center bg-contain bg-no-repeat mr-2 opacity-50" style="background-image: url('images/icons/facebook.svg')"></span>
                <span class="font-medium">Share on Facebook</span>
            </a>
    </div>
</div>


