<div class="">
    <div class="container md:w-4/5 mx-auto justify-center text-center px-4 py-6 md:py-16">
        <h3 class="font-bold text-2xl md:text-4xl pb-3">Meet the team</h3>
        <div class="lg:w-4/5 text-center mx-auto pb-8">
            <p class="text-lg md:text-xl text-gray-700 pb-4">We're a group of Londoners with friends and loved ones working in the NHS. We know how important it is for all of us that the work continues, and feel compelled to help.</p>
        </div>
        <div class="rounded bg-center bg-cover bg-no-repeat pb-half w-full shadow-2xl" style="background-image: url('/images/photos/team.jpg')"></div>
        <div class="md:w-3/5 text-center mx-auto pt-3 pb-8">
            <p class="md:text-lg text-gray-600">House Party selfie! Clockwise from top left:
                <a target="_blank" href="https://www.linkedin.com/in/sapana-agrawal-34949022">Sapana</a>,
                <a target="_blank" href="https://uk.linkedin.com/in/anya-muir-wood-a37725a1">Anya</a>,
                <a target="_blank" href="https://twitter.com/EmmaRuth18">Emma</a>,
                <a target="_blank" href="https://www.linkedin.com/in/jessie-varma-13795679/">Jessie</a>,
                <a target="_blank" href="https://www.linkedin.com/in/maia-muir-wood-b590184a">Maia</a>,
                <a target="_blank" href="https://twitter.com/jonnyburch">Jonny</a>,
                <a target="_blank" href="https://www.linkedin.com/in/alickvarma/">Alick</a>,
                <a target="_blank" href="https://twitter.com/muirwd">Andrew</a>,
                <a target="_blank" href="https://www.linkedin.com/in/cal1n/">Calin</a> and
                <a target="_blank" href="https://www.linkedin.com/in/sallyhughes/">Sally</a>
            </p>
        </div>
    </div>
</div>