---
layout: dashboard
meta_title: Impact
meta_description: What's happening right now?
body_class: absolute h-full w-full overflow-hidden
title: Meals for the NHS
---

<div class="absolute h-full w-full top-0 bottom-0 left-0 right-0">
    {% include "components/header.njk" %}
    <div class="absolute hidden md:block top-16 bottom-0 left-0 right-1/2" class="overflow-hidden">
		<div class="map"></div>
    </div>
    <div class="absolute right-0 top-16 bottom-0 left-0 md:left-1/2 p-4 overflow-auto">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 text-center p-2">
                <div class="border rounded p-4 flex flex-col h-full">
                    <div class="text-xl text-gray-500">Money raised</div>
                    <div class="text-4xl font-bold">
						£{{ data.numbers.money_raised | thousands }}
					</div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 text-center p-2">
                <div class="border rounded p-4 flex flex-col h-full">
                    <div class="text-xl text-gray-500">Donations</div>
                    <div class="text-4xl font-bold">
						{{ data.numbers.donors | thousands }}
					</div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 text-center p-2">
                <div class="border rounded p-4 flex flex-col h-full">
                    <div class="text-xl text-gray-500">Meals delivered</div>
                    <div class="text-4xl font-bold">
						{{ data.numbers.meals_delivered | thousands }}
					</div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 text-center p-2">
                <div class="border rounded p-4 flex flex-col h-full">
                    <div class="text-xl text-gray-500">Hospitals supported</div>
                    <div class="text-4xl font-bold">
                        {{ data.numbers.hospitals_supported }}
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 text-center p-2">
                <div class="border rounded p-4 flex flex-col h-full">
                    <div class="text-xl text-gray-500">Orders completed</div>
                    <div class="text-4xl font-bold">
						{{ data.numbers.orders_completed | thousands }}
					</div>
                </div>
            </div>

            <div class="w-full lg:w-1/2 text-center p-2">
                <div class="border rounded p-4 flex flex-col h-full">
                    <div class="text-xl text-gray-500 flex-grow">Food providers</div>
                    <div class="text-4xl font-bold">
						{{ data.numbers.food_providers }}
					</div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 text-center p-2">
                <div class="border rounded p-4 flex flex-col h-full">
                    <div class="text-xl text-gray-500">Areas covered</div>
                    <div class="text-4xl font-bold">
						{{ data.numbers.areas_covered }}
					</div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 text-center p-2">
                <div class="border rounded p-4 flex flex-col h-full">
                    <div class="text-xl text-gray-500">Number of volunteers</div>
                    <div class="text-4xl font-bold">
                        {{ data.numbers.volunteers }}
					</div>
                </div>
            </div>
            <div class="w-full text-center p-2">
                <div class="p-2">
                    <div class="text-sm text-gray-500">Final numbers as of 30 June, 2020</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
 {% include "scripts/dashboard.js" %}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpaVRwkw239CGAmcOJWIyzelWdA1SBkXo&callback=initMap" async defer></script>

