---
layout: dashboard
meta_title: Live Dashboard
meta_description: What's happening right now?
body_class: absolute h-full w-full overflow-hidden
title: Meals for the NHS
---

<div class="absolute h-full w-full top-0 bottom-0 left-0 right-0">
    {% include "components/header.njk" %}
    <div class="absolute hidden md:block top-16 bottom-0 left-0 right-1/2" class="overflow-hidden">
        <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=London&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <div class="absolute right-0 top-16 bottom-0 left-0 md:left-1/2 p-4 overflow-auto">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 text-center p-2">
                <div class="border rounded p-4">
                    <div class="text-4xl font-bold">£1,046,123</div>
                    <div class="text-xl text-gray-500">Money raised</div>
                </div>
            </div>
            <div class="w-full md:w-1/2 text-center p-2">
                <div class="border rounded p-4">
                    <div class="text-4xl font-bold">12,034</div>
                    <div class="text-xl text-gray-500">Donors</div>
                </div>
            </div>
            <div class="w-full md:w-1/2 text-center p-2">
                <div class="border rounded p-4">
                    <div class="text-4xl font-bold">23,340</div>
                    <div class="text-xl text-gray-500">Meals delivered</div>
                </div>
            </div>
            <div class="w-full md:w-1/2 text-center p-2">
                <div class="border rounded p-4">
                    <div class="text-4xl font-bold">332</div>
                    <div class="text-xl text-gray-500">Orders completed</div>
                </div>
            </div>
            <div class="w-full md:w-1/2 text-center p-2">
                <div class="border rounded p-4">
                    <div class="text-4xl font-bold">97</div>
                    <div class="text-xl text-gray-500">Hospitals receiving food</div>
                </div>
            </div>
            <div class="w-full md:w-1/2 text-center p-2">
                <div class="border rounded p-4">
                    <div class="text-4xl font-bold">192</div>
                    <div class="text-xl text-gray-500">Food providers</div>
                </div>
            </div>
            <div class="w-full text-center p-2">
                <div class="border rounded p-4">
                    <div class="text-4xl font-bold">13</div>
                    <div class="text-xl text-gray-500">Cities covered</div>
                    <ul class="flex justify-center pt-3">
                        <li><div class="bg-blue-100 rounded py-1 px-2 text-lg text-gray-500">London</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
