---
layout: dashboard
meta_title: Live Dashboard
meta_description: What's happening right now?
body_class: dashboard
title: Meals for the NHS
---

# Who are the primary users of this page - and what is their problem:
- As internal PR - I want a great graphic to show press when they ask for stats (against the key metrics we care about = coverage)
- As internal social media - I want a great graphic to show our progress (against the key metrics we care about = coverage)
- As internal Donor CRM - I want a great graphic to show our progress (against the key metrics we care about = coverage)
- As external donor - especially HNW / corporates - I want a sense of (a) how big you are, and (b) how much you understand what you measure yourself against - and how you track that

# Headlines from our chat this morning:
- Show # cities, # of hospitals onboarded, # of hospitals on waiting list, # restaurants we work with (v1)
- Maybe on mobile - keep map static image and just show blobs of cities with table beneath with list of hospitals and list of - restaurants for v1 (mapping intractable map comes later for web version)
- For restaurants, aim to show following fields over time: 1) health rating, 2) £ / meal, 3) max / min wait time
- Create page so it's screen shotable for CRM, Social Sharing and PR
- One question we always get asked is which cities are you in - so if above the static map, you could just see the list of cities we are currently in - awesome (that is available in Airtable)