---
layout: page
meta_title: Donate
meta_description: All our wonderful donors
title: Donate
---

{% from "components/feature_blocks.njk" import centreQuote, featureQuote %}

{% include "components/closed-banner.njk" %}
<div class="bg-blue-800">
    <div class="container flex flex-col justify-center md:w-4/5 lg:w-2/3 mx-auto pt-4 px-4 pb-8">
        <h1 class="text-white text-2xl md:text-4xl text-center justify-center font-normal pb-2">
            "We are grateful - every day - for all those on the front line, the doctors, the nurses, the porters and everyone working so hard to help patients recover and to keep us all well."
        </h1>
        <p class="text-xl text-center text-white">Marie-Helene, May 2020</p>
    </div>
</div>
<main id="main" class="main pt-8 md:pt-16 flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">
    <div class="md:w-4/5 lg:w-2/3 mx-auto justify-center text-center">
        <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold pb-2 lg:pb-6">{{ data.numbers.donors | thousands }} wonderful donors raised an incredible £{{ data.numbers.money_raised | thousands }}</h1>

        <p class="text-lg md:text-xl text-gray-700 pb-4">We were powered 100% by your donations, and 100% of your donations went directly towards more meals.</p>

    </div>
</main>
<div class="container md:w-4/5 mx-auto px-4 flex justify-center text-center pt-6 md:pt-12 lg:pb-8 flex flex-col">
    <h3 class="text-2xl md:text-4xl font-bold pb-2">Our donors&rsquo; messages to our NHS heroes</h3>
</div>
<div class="container md:w-4/5 mx-auto px-4 pb-6 md:pb-16">
    <div id="donation-loader" class="h-48 w-full flex items-center justify-center">
        <p class="text-gray-600 text-xl pb-2">Loading donations</p>
    </div>
    <ul class="donations-container flex flex-wrap justify-center">
        <li id="donation-template" class="w-full md:w-1/2 lg:w-1/3 flex p-2 md:p-3">
            <div class="border border-gray-200 hover:shadow-2xl rounded-lg flex-grow bg-white flex flex-col flex-grow">
                <div class="p-4 flex flex-col flex-grow">
                    <h4 class="text-gray-600 text-base pb-2"><span class="first_name"></span> gave £<span class="amount"></span> on <span class="date"></span></h4>
                    <p class="comment lg:text-xl xl:text-2xl"></p>
                </div>
            </div>
        </li>
    </ul>
</div>

<script>
 {% include "scripts/donations.js" %}
</script>
