---
layout: default
meta_title: Meals for the NHS
meta_description: Daily meals delivered to NHS hospital staff
body_class: home
title: Meals for the NHS
---

<main id="main" class="main flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">
    <div class="container w-4/5">
        <h1 class="text-3xl">Donations</h1>
    </div>
</main>


