---
layout: page
meta_title: Donations
meta_description: All our wonderful donors
body_class: donations
title: Meals for the NHS
---

<div class="donations-container">
  <div id="donation-template" class="">
	<div class="first_name"></div>
	<div class="comment"></div>
	<div class="amount"></div>
	<div class="date"></div>
  </div>
</div>

<script>
 {% include "scripts/donations.js" %}
</script>
