---
layout: page
meta_title: Home
meta_description: Daily meals delivered to NHS hospital staff
body_class: home
title: Meals for the NHS
---

<main id="main" class="main flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">
    <div class="absolute l-0 r-0 h-24 md:h-32 lg:h-48 w-full bg-blue-800"></div>
    <div class="relative">
        <div class="container flex items-center md:w-4/5 mx-auto justify-center text-center px-4 md:pt-4 md:pb-8">
            <div class="w-full md:w-1/2 p-2">
                <a href="/film" class="block rounded bg-top md:bg-center bg-blue-900 bg-cover bg-no-repeat pb-golden w-full shadow-2xl relative" style="background-image: url('/images/photos/film.jpg')">
                    <div class="absolute top-half left-half -mt-8 -ml-8 w-16 h-16 rounded-full bg-blue-700 shadow-2xl flex justify-center items-center"><div class="ml-1 h-8 w-8 bg-no-repeat bg-contain" style="background-image: url('/images/icons/play.svg')"></div></div>
                </a>
            </div>
        </div>
    </div>
    <div class="container md:w-4/5 lg:w-3/4 xl:w-1/2 mx-auto text-center px-4 pt-4 py-6 md:pb-16 lg:pb-24">
        <h1 class="text-3xl md:text-5xl pb-3 md:pb-6">Feeding NHS staff fighting COVID-19</h1>

        <p class="text-lg md:text-xl text-gray-700 mb-4 md:mb-8">The Meals for the NHS mission began back in March to support local hospitals battling COVID-19. We’d heard that at the end of gruelling shifts, frontline NHS staff were faced with closed canteens and nothing to eat. You can’t save the nation on an empty stomach, so we got to work.</p>

        {% include "components/progress_bar.njk" %}

        <p class="text-lg md:text-xl text-gray-700 my-4 md:mb-8">12 weeks later, the help of 100 volunteers, more than 200 local food providers, who were also in desperate need of an economic lifeline, and incredibly generous donations of £1.7+m, we’ve now delivered 225,000+ to 117 hospitals across the country.</p>

        <p class="text-lg md:text-xl text-gray-700 mb-4 md:mb-8">We’re proud to have achieved a lot together in a short space of time, but recently we’ve been really happy to see many of the hospitals we’re working with reduce their orders for meals as COVID-19 cases begin to subside. While we acknowledge there may well be a ‘second wave’ coming, we can’t predict when. So while we have the money to buy meals and the volunteers to make it happen, we want to make this time count.</p>

        <p class="text-lg md:text-xl text-gray-700">That’s why we’ve come to the decision to work towards The Big Finish for Meals for the NHS, with our last meals being delivered on 30th June 2020.</p>

    </div>
    {% include "components/problem.njk" %}
    {% include "components/endorsements.njk" %}
    {% include "components/tweets.njk" %}
</main>
<div class="pb-8 mx-auto">
</div>

<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
