---
layout: page
meta_title: Home
meta_description: Daily meals delivered to NHS hospital staff
body_class: home
title: Meals for the NHS
---
{% set total_amount = data.summary.donations.sponsors.amount + data.summary.donations.donorbox.amount %}
{% set total_donors = data.summary.donations.sponsors.donors + data.summary.donations.donorbox.donors %}

<main id="main" class="main flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">
    <div class="bg-blue-800">
        <div class="container flex items-center md:w-4/5 mx-auto justify-center text-center px-4 md:pt-4 md:pb-8">
            <div class="w-full md:w-1/2 p-2">
                <a href="/film" class="block rounded bg-top md:bg-center bg-blue-900 bg-cover bg-no-repeat pb-golden w-full shadow-2xl relative" style="background-image: url('/images/photos/film.jpg')">
                    <div class="absolute top-half left-half -mt-8 -ml-8 w-16 h-16 rounded-full bg-blue-700 shadow-2xl flex justify-center items-center"><div class="ml-1 h-8 w-8 bg-no-repeat bg-contain" style="background-image: url('/images/icons/play.svg')"></div></div>
                </a>
            </div>
        </div>
        <div class="container flex flex-col justify-center md:w-4/5 mx-auto pt-4 px-4 pb-8">
            <h1 class="flex flex-wrap text-white text-3xl md:text-5xl text-center justify-center">
                <span class="p-2">Meals for the NHS</span>
            </h1>
            <h1 class="text-white text-2xl md:text-4xl text-center justify-center font-normal">
                <span>100 <a class="text-white border-b-2 border-blue-400 hover:border-blue-300 transition-all duration-300 ease-in-out" href="/about-us">volunteers</a>,</span><br />
                <span>with £1,815,616,82 </span><br class="lg:hidden" /><span> </span>
                <span>from {{ total_donors | thousands }} <a class="text-white border-b-2 border-blue-400 hover:border-blue-300 transition-all duration-300 ease-in-out" href="/donor-wall">donors</a>,</span><br />

                <span>delivered 303,767 meals</span><br class="lg:hidden" /><span> </span>
                <span>via 223 <a class="text-white border-b-2 border-blue-400 hover:border-blue-300 transition-all duration-300 ease-in-out" href="/meals">providers</a></span><br />
                <span>to 146 <a class="text-white border-b-2 border-blue-400 hover:border-blue-300 transition-all duration-300 ease-in-out" href="/nhs">hospitals</a></span><br class="lg:hidden" /><span> </span>
                <span>over 100 days.</span>
            </h1>

            <div class="text-center pt-4 md:pt-8">
                <a class="bg-white text-blue-600 hover:bg-blue-100 border-b-2 border-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 mb-4 mr-4 rounded cursor-pointer text-xl leading-tight inline-block" href="/about-us">
                    Read our story
                </a>
            </div>
        </div>
    </div>


    <div class="container md:w-4/5 lg:w-2/3 mx-auto px-4 py-6 md:pb-16">
        <div class="pt-2 flex flex-col md:flex-row mx-auto md:justify-center flex-shrink">
            <div class="py-2 md:px-2 flex justify-center">
                <a class="bg-blue-600 text-white hover:bg-blue-800 border-b-2 border-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-xl leading-tight" href="/dashboard/">
                    See our impact
                </a>
            </div>
            <div class="py-2 md:px-2 flex justify-center">
                <a class="bg-blue-600 text-white hover:bg-blue-800 border-b-2 border-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-xl leading-tight" href="/nhs/">
                    Meet our NHS
                </a>
            </div>
            <div class="py-2 md:px-2 flex justify-center">
                <a class="bg-blue-600 text-white hover:bg-blue-800 border-b-2 border-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 rounded cursor-pointer text-xl leading-tight" href="/team/">
                    Behind the meals
                </a>
            </div>
        </div>
    </div>

    {% include "components/endorsements.njk" %}


    <div class="container md:w-4/5 mx-auto px-4 py-6 md:pb-16">
        <h2 class="text-3xl md:text-4xl text-center pb-4">Our feed of love</h2>
        <div class="flex flex-wrap">
            {% for item in data.instagramFeed | limit(72) %}
                <div class="w-full sm:w-1/2 md:w-1/3">
                    <div class="p-2">
                        <div class="relative rounded overflow-hidden" style="padding-bottom: 100%">
                            <a href="{{item.postUrl}}">
                                <img lazy class="absolute h-full w-full object-cover" src="{{ item.imagePath }}" />
                                <img src="/images/icons/instagram.svg" class="absolute h-10 w-10 p-2 text-white top-0 right-0" alt="">
                                <div class="absolute bottom-0 w-full p-1">
                                    <div class="bg-white text-sm rounded p-2">{{item.caption | truncate(110)}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center pt-4">
            <a class="bg-blue-600 text-white hover:bg-blue-800 border-b-2 border-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 mb-4 mr-4 rounded cursor-pointer text-xl leading-tight inline-block" href="https://www.instagram.com/mealsforthenhs/" target="_blank">
                See more on Instagram
            </a>
        </div>
    </div>

</main>
<div class="pb-8 mx-auto">
</div>


