---
layout: page
meta_title: Make, Donate, Nominate
meta_description: Make a meal, donate a meal, nominate a friend!
title: Make, Donate, Nominate and help us feed the NHS
---

<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
    <div class="container md:w-4/5 mx-auto px-4 py-6 md:py-16">
        <div class="md:w-4/5 lg:w-2/3 mx-auto justify-center text-center pb-8">
            <h1 class="text-6xl">🍔</h1>
            <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold pb-2 lg:pb-6">{{ title }}</h1>
            <p class="text-xl md:text-3xl text-pink-500">#MakeDonateNominate</p>
        </div>
        <div class="flex flex-col md:flex-row rounded-lg lg:w-4/5 mx-auto overflow-hidden bg-blue-100">
            <div class="md:w-1/2"><img src="/images/photos/mdn.jpg" alt=""></div>
            <div class="p-3 md:w-1/2 md:p-6 flex-grow flex items-center">
                <p class="md:text-2xl"><span class="italic">A happy ITU team at St. Thomas Hospital who are working hard on the frontline looking after very sick COVID patients. In these times a hot meal at the end or beginning of a long shift just gives that boost they need to continue. Thank you </span>😊</p>
            </div>
        </div>
        <div class="md:w-4/5 lg:w-2/3 mx-auto py-8">
            <p class="text-lg md:text-xl mb-2 text-center">We need every NHS hospital fighting the war against COVID to feel this way ... So raid your fridge, broaden your horizons … and let’s make some mouth watering meals to show love and support to our NHS workers!</p>
        </div>
    </div>
    <div class="main flex flex-1 flex-col focus:outline-none bg-blue-100" tabindex="-1">
        <div class="container md:w-4/5 mx-auto px-4 py-6 md:py-12">
            <div class="md:w-4/5 lg:w-2/3 mx-auto py-8">
                <h1 class="pt-8 pb-4 text-3xl text-center">You can’t save the nation on an empty stomach. So it’s simple: #MakeDonateNominate</h1>
                <ol class="flex flex-col md:flex-row">
                    <li class="md:w-1/3 p-3 flex">
                        <div class="border bg-white border-blue-300 rounded w-full text-center flex flex-col items-center justify-center">
                            <div class="border-b border-blue-300 p-3 w-full">
                                <p class="font-bold text-lg md:text-xl">1. Make a meal</p>
                            </div>
                            <div class="p-3 flex-grow">
                                <p class="text-lg mb-2">Make a meal at home, share a photo of yourself with your meal using #makedonatenominate.</p>
                            </div>
                        </div>
                    </li>
                    <li class="md:w-1/3 p-3 flex">
                        <div class="border bg-white border-blue-300 rounded w-full text-center flex flex-col items-center justify-center">
                            <div class="border-b border-blue-300 p-3 w-full">
                                <p class="font-bold text-lg md:text-xl">2. Donate a meal</p>
                            </div>
                            <div class="p-3 flex-grow">
                                <p class="text-lg mb-2">Donate at least £5 & brag about  it. Share that you’ve donated, and make other people want to do the same.</p>
                            </div>
                        </div>
                    </li>
                    <li class="md:w-1/3 p-3 flex">
                        <div class="border bg-white border-blue-300 rounded w-full text-center flex flex-col items-center justify-center">
                            <div class="border-b border-blue-300 p-3 w-full">
                                <p class="font-bold text-lg md:text-xl">3. Share and Nominate</p>
                            </div>
                            <div class="p-3 flex-grow">
                            <p class="text-lg mb-2">Finally, Nominate 5 of your friends and family to do the   same.</p>
                            </div>
                        </div>
                    </li>
                </ol>
                {% include 'components/donation_button.njk' %}
                {% include 'components/social-share-mdn.njk' %}
                <p class="text-lg md:text-xl mb-2 text-center">Each £5 you give will provide an NHS worker with a healthy and tasty meal from a local restaurant.</p>
                <p class="text-lg md:text-xl mb-2 text-center">NHS staff tell us our food is a massive boost to their morale after a long day. So please help us keep them going when you have your meal this weekend by donating at www.mealsforthenhs.com and shouting from the rooftops (i.e. Instagram) that you’ve done it!</p>
            </div>
        </div>
    </div>
    <div class="main flex flex-1 flex-col focus:outline-none pt-8" tabindex="-1">
        <div id="donationform" class="container px-2 md:w-4/5 lg:w-3/4 mx-auto text-center py-6 mx-auto flex flex-col items-center">
            {% include 'components/donation_form_embed.njk' %}
        </div>
    </div>
</main>