---
layout: page
meta_title: Make, Donate, Nominate
meta_description: Make a meal, donate a meal, nominate a friend!
title: Make, Donate, Nominate and help us feed the NHS
---

<main id="main" class="main flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">
    <div class="container md:w-4/5 mx-auto px-4 py-6 md:py-16">
        <div class="md:w-4/5 lg:w-2/3 mx-auto justify-center text-center pb-8">
            <h1 class="text-6xl">🍔</h1>
            <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold pb-2 lg:pb-6">{{ title }}</h1>
        </div>
        <div class="md:w-4/5 lg:w-2/3 mx-auto  pb-8">
            <p class="text-lg md:text-xl mb-2">Right now, even a number of weeks into lockdown, it’s likely that eating a meal is much easier for the majority of us who are staying safely in our homes than it is for NHS workers coming off a long shift. But our NHS heroes can’t save the nation on an empty stomach.</p>
            <p class="text-lg md:text-xl mb-2">Meals for the NHS is feeding over 60 hospitals battling the Covid crisis, in 20 cities in England, Scotland, and Wales. Over 100 more NHS hospitals have requested our help. So we’re asking you to make your meals more meaningful!</p>
            <h1 class="pt-8 pb-4 text-3xl">#MakeDonateNominate</h1>
            <p class="text-lg md:text-xl mb-2">When you make a meal at home, we’re asking you to share a photo of yourself with your meal, to donate at least £5 at www.mealsforthenhs.com, and to nominate friends and family to do the same. Each £5 you give will provide an NHS worker with a healthy and tasty meal from a local restaurant.</p>
            <p class="text-lg md:text-xl mb-2">NHS staff tell us our food is a massive boost to their morale after a long day. So please help us keep them going when you have your meal this weekend by donating below and telling people you’ve done it!</p>
            <h1 class="pt-8 pb-4 text-3xl">Your Meal</h1>
            <p class="text-lg md:text-xl mb-2">Get as creative as you like! Utilise the ingredients you already have stashed away in your cupboards.
            We encourage you to raid your fridge, broaden your horizons and look beyond the supermarket staples …. But we’re also a sucker for beans on toast ;)</p>
        </div>
    </div>
    <div id="donationform" class="container px-2 md:w-4/5 lg:w-3/4 mx-auto text-center py-6 mx-auto flex flex-col items-center">
        {% include 'components/donation_form_embed.njk' %}
    </div>
    {% include 'components/social-share-mdn.njk' %}
</main>