---
layout: page
meta_title: Media
meta_description: Looking back at our impact in media
body_class: Media
title: Meals for the NHS
---

<main id="main" class="main flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">

    <div class="flex flex-wrap">
        {% for item in data.instagramFeed | limit(36) %}
            <div class=" w-full sm:w-1/2 md:w-1/4">
                <div class="relative" style="padding-bottom: 100%">
                    <a href="{{item.postUrl}}">
                        <img class="absolute h-full w-full object-cover" src="{{ item.imagePath }}" />
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="text-center">
        <a class="bg-blue-600 text-white hover:bg-blue-800 border-b-2 border-blue-800 transition-all ease-in-out duration-300 py-3 px-5 md:py-4 md:px-6 mb-4 mr-4 rounded cursor-pointer text-xl leading-tight inline-block" href="https://www.instagram.com/mealsforthenhs/" target="_blank">
            See more on Instagram
        </a>
    </div>

</main>
<div class="pb-8 mx-auto">
</div>

