---
layout: form
meta_title: Sponsor a Hospital
meta_description: Pay for meals for your local hospital for the duration of COVID-19
body_class: home
title: Sponsor a Hospital
form: https://airtable.com/embed/shr0hvFHiz7cZBU9S?backgroundColor=purple
---


