---
layout: page
meta_title: Terms & Conditions
meta_description: terms and conditions
title: Terms & Conditions
---

<main id="main" class="main flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">
    <div class="container md:w-4/5 mx-auto justify-center px-4 py-6 md:pt-16">
        <div class="md:w-4/5 mx-auto">
            <h2 class="text-2xl md:text-4xl lg:text-5xl font-bold pb-2">Our T&Cs</h2>
            <a class="text-lg pb-8" target="_blank" href="https://drive.google.com/open?id=1y-MayGo1F9NidNRMtPO0pzh2qjiY12b9">T&amp;Cs (27th May 2020)</a>
            <h2 class="text-2xl md:text-4xl lg:text-5xl font-bold pb-2">Our Food Safety Guidelines</h2>
            <a class="text-lg" target="_blank" href="https://drive.google.com/open?id=1yoLUMgbjHPhpjxCMrADqlo-7r-Rwh8S1">Food safety guidelines (27th May 2020)</a>
        </div>
    </div>
</main>