---
layout: page
meta_title: Thank you!
meta_description: You've helped us feed our NHS heroes
title: Thank you for your donation!
---

<main id="main" class="main flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">
    <div class="container md:w-4/5 mx-auto px-4 py-6 md:py-16">
        <div class="md:w-4/5 lg:w-2/3 mx-auto justify-center text-center pb-8">
            <h1 class="text-6xl">🎉</h1>
            <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold pb-2 lg:pb-6">{{ title }}</h1>
            <p class="text-lg md:text-xl mb-2">You’ve helped power our NHS heroes when they need it most.</p>
            <p class="text-lg md:text-xl mb-2">We still have thousands more hungry frontline staff dealing with Covid-19 who need a boost. Help us spread the word!</p>
        </div>
        <div class="md:w-4/5 lg:w-2/3 mx-auto  pb-8">
            {% include 'components/social-share.njk' %}
        </div>
    </div>
</main>