<!doctype html>
<html lang="en" class="min-h-full antialiased">
<head>
    <script src="https://config.metomic.io/config.js?id=prj:d12aea0b-775d-4edd-be86-1d00e4daa36c" crossorigin charset="utf-8"></script>
    <script src="https://consent-manager.metomic.io/embed.js" crossorigin charset="utf-8"></script>
    {% if helpers.environment != "development" %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162009579-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-162009579-1');
    {% endif %}

    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %} | {{ site.name }}</title>
    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">
    {% if page.fileSlug === 'blog' %}
        <meta name="robots" content="noindex,follow" />
    {% else %}
        <meta name="robots" content="index,follow" />
    {% endif %}

    {# if your site's entire CSS comes in under 14kb, you may want to inline in the head #}
    {# include main.css if in development mode #}
    {% if helpers.environment === "development" %}
        <link rel="stylesheet" href="/css/main.css">
    {% else %}
        {# else, use the minified css file for production #}
        <link rel="stylesheet" href="/css/main.min.css">
    {% endif %}

    {# include scripts #}
    {% if helpers.environment === "development" %}
        <script src="/js/main.js" defer></script>
    {% else %}
        <script src="/js/main.min.js" defer></script>
    {% endif %}
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-firestore.js"></script>

    {# include social meta tags #}
    {% include "components/social-meta.njk" %}

    {# lastly include favicon, fonts, etc #}
    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

    {# canonical #}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
</head>

    <body {% if body_class %} id="{{ body_class }}"{% endif %} class="text-blue-900 leading-normal text-lg {% if body_class %}{{ body_class }}{% endif %}">

        {{ content | safe }}

    </body>
</html>
