---
layout: default
---
<main id="main" class="main flex flex-1 h-full flex-col focus:outline-none" tabindex="-1">
    <div class="container md:w-4/5 lg:w-3/4 xl:w-3/5 mx-auto text-center px-4 py-6 md:py-16 lg:py-24">
        <h1 class="text-3xl md:text-5xl">{{ name }}</h1>
    </div>
</main>
{% include "components/donation_form.njk" %}
